---
- hosts: preview
  become: true
  gather_facts: false
  vars_files:
    - "../vault/vault.yml"
  tasks:
    - name: List projects
      ansible.builtin.find:
        paths: /opt/bal/projects
        file_type: directory
      register: projects

    - include_tasks: preview_pr.yml
      loop: "{{ projects.files | map(attribute='path')| map('basename') | list }}"
      loop_control:
        loop_var: pr_id
