# Workspace settings
link-workspace-packages=true
prefer-workspace-packages=true
save-workspace-protocol=rolling

# Dependency resolution
auto-install-peers=true
dedupe-peer-dependents=true
resolve-peers-from-workspace-root=true
subdependencies=false


# Lockfile management
shared-workspace-lockfile=true

# Build and script handling
enable-pre-post-scripts=true

# Performance and optimization
node-linker=hoisted
package-import-method=auto

# Strict settings
strict-peer-dependencies=false

# Security checks
# minimum-release-age=10080 // to activate on 15 of decembre
strict-ssl=false
fetch-retry-maxtimeout=600000
fetch-retry-mintimeout=100000
network-timeout=600000
# trust-policy=no-downgrade

# Save prefix
save-prefix=~
