.yarn
.talismanrc
.infra/files/configs/mongodb/seed.gpg
.infra/files/configs/mongodb/mongo_keyfile.txt
.infra/local/mongo_keyfile
.infra/env.*.yml
.infra/authorizations/*
.infra/inventories/*
pnpm-lock.yaml
