---
- hosts: all
  become: true
  gather_facts: false
  tasks:
    - name: Chargement des variables chiffrées globales
      community.sops.load_vars:
        file: "{{ inventory_dir }}/../env.global.yml"
        expressions: ignore

    - name: Chargement des variables chiffrées de l'environnement {{ env_type }}
      community.sops.load_vars:
        file: "{{ inventory_dir }}/../env.{{ env_type }}.yml"
        expressions: ignore

    - include_tasks: ./tasks/files_copy.yml

    ### START temp reviert following issues
#    - name: Création du docker-compose.yml {{env_type}}
#      shell:
#        chdir: /opt/app
#        cmd: 'sudo docker compose $(for file in $(ls docker-compose.*.yml); do echo -n "-f $file "; done) config -o docker-compose.yml'
#      register: docker_deploy_output
#
#    - name: Fix cpus number in quote
#      shell:
#        chdir: /opt/app
#        cmd: "sed -i -E 's/cpus: ([0-9]+(\\.[0-9]+)?)/cpus: '\\''\\1'\\''/g' docker-compose.yml"
#    ### END
#    - name: Récupération des images docker
#      shell:
#        chdir: /opt/app
#        cmd: "/opt/app/tools/docker-compose.sh pull"
#
#    - name: Récupération du status de la stack
#      shell:
#        chdir: /opt/app
#        cmd: docker stack ls --format json
#      register: stack_status
#
#    - name: Récupération du status des migrations
#      shell:
#        chdir: /opt/app
#        cmd: "sudo /opt/app/scripts/migrations-status.sh"
#      register: migration_status_output
#      when: stack_status.stdout != ""
#
#    - name: "Shutdown processor"
#      shell:
#        chdir: /opt/app
#        cmd: "sudo docker service scale bal_processor=0"
#      when:
#        - stack_status.stdout != ""
#        - '"migrations-status=synced" not in migration_status_output.stdout_lines'
#
#    - name: "Activation du mode maintenance pour effectuer la migration"
#      shell:
#        chdir: /opt/app
#        cmd: "sudo /opt/app/tools/maintenance/maintenance-on.sh"
#      when:
#        - stack_status.stdout != ""
#        - '"migrations-status=require-shutdown" in migration_status_output.stdout_lines'
#
#    - name: "Shutdown server"
#      shell:
#        chdir: /opt/app
#        cmd: "sudo docker service scale bal_server=0"
#      when:
#        - stack_status.stdout != ""
#        - '"migrations-status=require-shutdown" in migration_status_output.stdout_lines'
#
#    - name: Lancement des migrations
#      shell:
#        chdir: /opt/app
#        cmd: "sudo /opt/app/scripts/migrations-up.sh"
#      when:
#        - stack_status.stdout != ""
#        - '"migrations-status=synced" not in migration_status_output.stdout_lines'
#      async: 1800
#      poll: 10
#
#    - name: Trigger de la création des indexes
#      shell:
#        chdir: /opt/app
#        cmd: "sudo /opt/app/scripts/trigger-indexes-creation.sh"
#
#    - name: Lancement de l'application {{env_type}}
#      shell:
#        chdir: /opt/app
#        cmd: "/opt/app/tools/update-stack.sh"
#      register: docker_deploy_output
#      async: 1800
#      poll: 10
#
#    - debug:
#        var: docker_deploy_output
#
#    - name: Attente du deploiement
#      shell:
#        chdir: /opt/app
#        cmd: "/opt/app/tools/wait-deployment.sh"
#      async: 1800
#      poll: 10
#
#    - name: "Reload du Reverse Proxy"
#      shell:
#        chdir: /opt/app
#        cmd: "sudo /opt/app/tools/reload-proxy.sh"
#
#    - name: "Désactivation du mode maintenance"
#      shell:
#        chdir: /opt/app
#        cmd: "sudo /opt/app/tools/maintenance/maintenance-off.sh"
#
#    - name: "Verification des certificats SSL"
#      shell:
#        chdir: /opt/app
#        cmd: "sudo /opt/app/tools/ssl/renew-certificate.sh {{dns_name}}"
#
#    - name: "Setup de la Metabase"
#      shell:
#        chdir: /opt/app
#        cmd: "sudo bash /opt/app/configs/metabase/setup-metabase.sh"
#      timeout: 86400 # 1 day
#
#    - name: "Prune Docker"
#      shell:
#        chdir: /opt/app
#        cmd: "sudo docker system prune --all --force"
