# The following variables define reusable configurations for deployment, providing consistent and predefined
# behaviors for updating, rolling back, and restarting services.

x-deploy-default: &deploy-default
  update_config:
    failure_action: rollback
    parallelism: 1
    delay: 10s
  rollback_config:
    parallelism: 1
    delay: 10s
  restart_policy:
    window: 360s
    delay: 30s
    # Max 24hours
    max_attempts: 240

x-default: &default
  networks:
    - mna_network

services:
  server:
    <<: *default
    image: ghcr.io/mission-apprentissage/mna_bal_server:{{app_version}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 2g
      replicas: 2
    stop_grace_period: 60s
    volumes:
      - /opt/app/data/server:/data
      - /opt/app/.env_server:/app/server/.env
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.json.bal.{{env_type}}.server
        fluentd-async: "true"
    environment:
      INSTANCE_ID: "server-{% raw %}{{.Task.Slot}}{% endraw %}"
      NODE_OPTIONS: "--max_old_space_size=2048"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:5000/api/healthcheck"]
      interval: 10s
      timeout: 30s
      retries: 11
      start_period: 10s

  processor:
    <<: *default
    image: ghcr.io/mission-apprentissage/mna_bal_server:{{app_version}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 1g
      replicas: 4
    command: ["pnpm", "cli", "processor"]
    stop_grace_period: 2h
    volumes:
      - /opt/app/data/server:/data
      - /opt/app/.env_server:/app/server/.env
    environment:
      INSTANCE_ID: "runner-{% raw %}{{.Task.Slot}}{% endraw %}"
      NODE_OPTIONS: "--max_old_space_size=1024"
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.json.bal.{{env_type}}.processor
        fluentd-async: "true"

  ui:
    <<: *default
    image: ghcr.io/mission-apprentissage/mna_bal_ui:{{app_version}}-{{env_type}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 256m
      replicas: 2
    env_file: .env_ui
    stop_grace_period: 60s
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.txt.bal.{{env_type}}.ui
        fluentd-async: "true"

  metabase:
    <<: *default
    image: metabase/metabase:v0.57.13
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 2g
    environment:
      JAVA_TIMEZONE: Europe/Paris
      MB_SITE_LOCALE: fr
      MB_SITE_URL: "{{dns_name}}/metabase"
      MB_DB_TYPE: postgres
      MB_DB_CONNECTION_URI: "{{BAL_METABASE_DB_URI}}"
      MB_ENCRYPTION_SECRET_KEY: "{{BAL_METABASE_ENCRYPTION_SECRET_KEY}}"
      MB_PASSWORD_COMPLEXITY: strong
      MB_START_OF_WEEK: monday
      MB_EMAIL_SMTP_HOST: "{{MNA_BAL_SMTP_HOST}}"
      MB_EMAIL_SMTP_PORT: "{{MNA_BAL_SMTP_PORT}}"
      MB_EMAIL_SMTP_USERNAME: "{{MNA_BAL_SMTP_AUTH_USER}}"
      MB_EMAIL_SMTP_PASSWORD: "{{MNA_BAL_SMTP_AUTH_PASS}}"
      MB_EMAIL_SMTP_SECURITY: tls
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 6m
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.json.bal.{{env_type}}.metabase
        fluentd-async: "true"

  clamav:
    <<: *default
    image: clamav/clamav:latest
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 2g
    healthcheck:
      test: ["CMD", "/usr/local/bin/clamdcheck.sh"]
      interval: 60s
      retries: 3
      start_period: 6m
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.json.bal.{{env_type}}.clamav
        fluentd-async: "true"
    volumes:
      - /opt/app/data/clamav:/var/lib/clamav
      - /opt/app/configs/clamav/clamd.conf:/etc/clamav/clamd.conf
