version: "3.8"

services:
  reverse_proxy:
    image: "nginxproxy/nginx-proxy"
    container_name: bal_reverse_proxy
    restart: always
    deploy:
      resources:
        limits:
          memory: 256m
    ports:
      - "80:80"
      - "443:443"
    networks:
      - bal_network
    volumes:
      - conf:/etc/nginx/conf.d
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    restart: always
    volumes:
      - certs:/etc/nginx/certs:rw
      - acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DEFAULT_EMAIL=misson.apprentissage.devops@gmail.com
    volumes_from:
      - reverse_proxy
    networks:
      - bal_network

  mongodb:
    image: mongo:6.0.2-focal
    container_name: bal_mongodb
    restart: always
    deploy:
      resources:
        limits:
          memory: 2g
    networks:
      - bal_network
    # command: mongod --auth
    ports:
      - "127.0.0.1:27017:27017"
    volumes:
      - /opt/bal/data/mongodb/db:/data/db
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 6m
    labels:
      - autoheal=true

  clamav:
    image: clamav/clamav:latest
    container_name: bal_clamav
    deploy:
      resources:
        limits:
          memory: 2g
    restart: always
    networks:
      - bal_network
    volumes:
      - /opt/bal/data/clamav:/var/lib/clamav
    healthcheck:
      test: ["CMD", "/usr/local/bin/clamdcheck.sh"]
      interval: 60s
      retries: 3
      start_period: 6m
    labels:
      - autoheal=true

  smtp:
    image: axllent/mailpit:v1.5.5
    container_name: bal_smtp
    deploy:
      resources:
        limits:
          memory: 128m
    ports:
      - 1025:1025
    networks:
      - bal_network
    volumes:
      - /opt/bal/data/smtp:/data
      - /opt/bal/configs/mailpit/auth:/auth
    environment:
      - MP_DATA_FILE=/data/mailpit.db
      - MP_UI_AUTH_FILE=/auth
      - VIRTUAL_HOST=smtp.{{dns_name}}
      - VIRTUAL_PATH=/
      - VIRTUAL_PORT=8025
      - LETSENCRYPT_HOST=smtp.{{dns_name}}
      - LETSENCRYPT_EMAIL=misson.apprentissage.devops@gmail.com

  autoheal:
    image: willfarrell/autoheal:latest
    container_name: bal_autoheal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  conf:
  vhost:
  html:
  certs:
  acme:

networks:
  bal_network:
    name: bal_network
