<mj-text padding-top="20px">
  Cordialement,
  <br />
  BAL
  <br /><br />
  <a target="_blank" href="https://beta.gouv.fr/startups/?incubateur=mission-apprentissage" class="link-nostyle">
    Mission interministérielle pour l'apprentissage et les trajectoires professionnelles
  </a>
</mj-text>
