name: Setup
on:
  workflow_dispatch:
    inputs:
      environment:
        description: The environment to setup
        type: choice
        required: true
        options:
          - production
          - recette
          - sandbox
    secrets:
      SSH_PRIVATE_KEY:
        description: SSH private key
        required: true
      SSH_KNOWN_HOSTS:
        description: SSH known hosts list
        required: true
      USR_DEPLOY:
        description: SSH USER TO DEPLOY
        required: true
      PWD_DEPLOY:
        description: SSH PWD TO DEPLOY
        required: true
      SLACK_WEBHOOK:
        description: Slack webhook URL
        required: true

jobs:
  deploy:
    name: Setup ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      # - name: Notify new deployment on Slack
      #   uses: ravsamhq/notify-slack-action@v2
      #   if: always()
      #   with:
      #     status: ${{ job.status }}
      #     notification_title: "Setup de ${{ inputs.environment }} initié..."
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

      - name: Checkout project
        uses: actions/checkout@v3

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          name: github_actions
          key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          known_hosts: ${{ vars.SSH_KNOWN_HOSTS }}
          config: |
            Host *
              IdentityFile ~/.ssh/github_actions

      - name: Create vault pwd file
        run: echo ${{ secrets.VAULT_PWD }} > .infra/.vault_pwd.txt

      - name: Install Ansible Galaxy
        run: |
          ansible-galaxy install patrickjahns.promtail
          ansible-galaxy install geerlingguy.docker
          ansible-galaxy collection install community.general
          ansible-galaxy collection install community.crypto
          ansible-galaxy collection install ansible.posix

      - name: Run playbook
        run: |
          ansible-playbook -i ".infra/env.ini" --limit "${{ inputs.environment }}" --vault-password-file=".infra/.vault_pwd.txt" --extra-vars "ansible_sudo_pass=${{ secrets.DEPLOY_PASS }}" ".infra/playbooks/setup.yml" --user ${{ secrets.DEPLOY_USERNAME }}

      # - name: Notify failure on Slack
      #   uses: ravsamhq/notify-slack-action@v2
      #   if: always()
      #   with:
      #     status: ${{ job.status }}
      #     notification_title: "Le déploiement ${{ inputs.app_version }} en ${{ inputs.environment }} a échoué"
      #     notify_when: "failure"
      #     mention_groups: "!channel"
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

      # - name: Notify success on Slack
      #   uses: ravsamhq/notify-slack-action@v2
      #   if: always()
      #   with:
      #     status: ${{ job.status }}
      #     notification_title: "Déploiement ${{ inputs.app_version }} en ${{ inputs.environment }} terminé avec succès"
      #     notify_when: "success"
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
