name: CI

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        description: Code coverrage token
        required: true
jobs:
  tests:
    timeout-minutes: 10
    name: "Tests"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 24

      - uses: pnpm/action-setup@v2
        with:
          version: 10

      - uses: actions/cache@v3
        with:
          path: |
            ~/.pnpm-store
          key: pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: pnpm-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Make sure to use same dependencies version across all packages
        run: pnpm dedupe --check

      - name: lint
        run: pnpm lint

      - name: typecheck
        run: pnpm typecheck:ci

      - name: start mongodb service
        run: |
          docker compose up --build -d --wait mongodb
          pnpm setup:mongodb

      - name: test
        run: pnpm test:ci

      - name: prettier
        run: pnpm prettier:check

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
